{% extends "base.html" %}
{% block content %}

<div class="signup-wrapper">

    <div class="signup-card">

        <h2>Create Account on GameDesk</h2>

        <form method="POST">
    {% csrf_token %}

    <div class="input-group">
        <input type="text" name="username" placeholder="Username" required>
    </div>

    <div class="input-group">
        <input type="email" name="email" placeholder="Email" required>
    </div>

    <div class="input-group">
        <input type="password" name="password" placeholder="Password" required>
    </div>

    <button type="submit" class="signup-btn">Sign Up</button>
</form>

        <p>Already have an account? 
            <a href="{% url 'login' %}">Sign in</a>
        </p>

    </div>

</div>

{% endblock %}