{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Team Registration</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="auth-page">
    <div class="auth-card">
        <h2>Team Registration</h2>

        <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="text" name="team_name" placeholder="Team Name" required>

    <input type="email" name="email" placeholder="Email Address" required>
    <input type="text" name="phone" placeholder="Mobile Number" required>

    <hr>

    <input type="text" name="player1_ign" placeholder="Player 1 IGN" required>
    
    <input type="text" name="player2_ign" placeholder="Player 2 IGN" required>
    
    <input type="text" name="player3_ign" placeholder="Player 3 IGN" required>
    
    <input type="text" name="player4_ign" placeholder="Player 4 IGN" required>
    
    <input type="text" name="player5_ign" placeholder="Player 5 IGN (Optional)">
    
    <label>Team Logo</label>
    <input type="file" name="team_logo">

    <button type="submit">Register Team</button>
</form>

      
</body>
</html>
