{% extends "base.html" %}
{% block content %}

<div class="team-wrapper">

    <div class="team-card">

        <h2> TEAM REGISTRATION</h2>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="input-group">
                <i class="fas fa-users"></i>
                <input type="text" name="team_name" placeholder="Team Name" required>
            </div>

            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input type="email" name="email" placeholder="Email Address" required>
            </div>

            <div class="input-group">
                <i class="fas fa-phone"></i>
                <input type="text" name="mobile" placeholder="Mobile Number" required>
            </div>

            <hr>

            <h4>Players</h4>

            <div class="input-group">
                <input type="text" placeholder="Player 1 IGN" required>
            </div>

            <div class="input-group">
                <input type="text" placeholder="Player 2 IGN" required>
            </div>

            <div class="input-group">
                <input type="text" placeholder="Player 3 IGN" required>
            </div>

            <div class="input-group">
                <input type="text" placeholder="Player 4 IGN" required>
            </div>

            <div class="input-group">
                <input type="text" placeholder="Player 5 IGN (Optional)">
            </div>

            <div class="file-upload">
                <label>Upload Team Logo</label>
                <input type="file" name="logo">
            </div>

            <button class="register-btn">🚀 Register Team</button>

        </form>

    </div>

</div>

{% endblock %}